
*, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
    --bg-color: #0f172a;
    --bg-color-secondary: #1e293b;
    --text-color: #8b5cf6;
  }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  input, button, textarea, select {
    font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  #root, #__next {
    isolation: isolate;
  }

body{
    background-color: var(--bg-color);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: var(--text-color);
    font-family: Wotfard, sans-serif;
}

@font-face {
  font-family: Wotfard;
  src: url('../assets/wotfard-regular.woff2');
}
@font-face {
  font-family: WotfardMd;
  src: url('../assets/wotfard-medium.woff2');
}
@font-face {
  font-family: WotfardSb;
  src: url('../assets/wotfard-semibold.woff2');
}