@media screen and (max-width: 768px){
    #menu-mobile:hover +
.mobile-dropdown-menu,
.mobile-dropdown-menu:hover{
    opacity: 1;
    width: 200px;
    height: 220px;
    background-color: var(--text-color);
    position: absolute;
    top: 64px;
    right: 24px;
    z-index: 1000;
    transition: all 200ms linear ; 
    pointer-events: all;
    display: flex;
    flex-direction: column;
    padding: 8px 0px 16px 0px;
}
}
    
@media screen and (max-width: 768px){
    .mobile-dropdown-menu{
        opacity: 0;
        width: 200px;
        height: 220px;
        position: absolute;
        pointer-events: none;
        border-radius: 12px;
    }

    .filter-header{
        border-bottom: 1px solid rgba(0, 0, 0, 0.082);
        margin-bottom: 4px;
        padding: 0px 12px;
    }

    ul.mobile-dropdown-menu > li{
        padding: 4px 12px;
    }
}

input[type='checkbox']{
    cursor: pointer;
}

@media screen and (min-width: 768px){
    .mobile-dropdown-menu{
        width: 100%;
        padding-left: 0px;
    }
    
    .filter-header{
        border-bottom: 1px solid rgba(255, 255, 255, 0.836);
        margin-bottom: 12px;
        padding: 0px;
    }

    input[type='checkbox']{
        visibility: hidden;
    }

    ul.mobile-dropdown-menu > li{
        padding: 8px 0px;
        padding-left: 8px;
        cursor: pointer;
        margin-bottom: 6px;
    }

    ul.mobile-dropdown-menu > li:hover,
    ul.mobile-dropdown-menu > li:has(input[type='checkbox']:checked){
        background-color: var(--bg-color-tertiary);
    }

}

.filter-header{
    color: white; 
    font-size: 20px;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2px;
}

ul.mobile-dropdown-menu > li{
    gap: 8px;
    display: flex;
    font-size: 16px;
    font-weight: 400;
    color: white;
    align-items: center;
    border-radius: 4px;
    position: relative;
}


ul.mobile-dropdown-menu > li > img{
    width: 20px;
    height: 20px;
    object-fit: contain;
    filter: brightness(1.5);
}

ul.mobile-dropdown-menu > li > input[type='checkbox']{
    position: absolute;
    right: 14px;
    top: auto;
    accent-color: white;
}


ul.mobile-dropdown-menu{
    list-style: none;
}

.filter-header > img{
    width: 24px;
    height: 24px;
    object-fit: contain;
    filter: brightness(1.5);
}