header#header{ 
    padding: 24px calc(1.5vw + 12px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-weight: bold;
    font-size: 24px;
    font-family: WotfardMd, sans-serif;
    position: relative;
}

img#menu-mobile{
    width: 40px;
    height: 40px;
    object-fit: contain;
    cursor: pointer;
}

.scrollbar::-webkit-scrollbar {
    width:6px;
    background-color: transparent;
}
.scrollbar::-webkit-scrollbar-thumb {
    background-color: var(--bg-color-tertiary);
    border-radius: 4px;
}
.scrollbar::-webkit-scrollbar-truck{
    background-color: black;
    border-radius: 4px;
}

ul#tasks{
    list-style: none;
    background-color: var(--bg-color-secondary);
    margin: 4px 12px;
    border-radius: 16px;
    padding: 20px 20px 20px 20px;
    width: auto;
    display: flex;
    height: 80vh;
    flex-direction: column;
    gap: 16px;
    position: relative;
}

#tasks-container{
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 100%;
    padding: 4px;
    gap: 10px;
}

ul#tasks > div > li{
    background-color: var(--bg-color-tertiary);
    padding: 6px 12px;
    border-radius: 12px;
}
ul#tasks > div > li > div{
    display: flex;
    column-gap: 12px;
    display: flex;
    align-items: center;
}

.checkbox-input{
    width: 10px;
    height: 10px;
    border-radius: 100%;
    outline: 1px solid white;
}
.checkbox-input[data-completed="completed"]{
    background-color: var(--text-color);
    outline-color: var(--text-color);
}
#tasks > div > p{
    font-size: 23px;
    font-weight: 600;
    filter: brightness(1.15);
}

#tasks > div{
    display: flex;
    justify-content: space-between ;
    align-items: center;
    padding: 0px 4px 0px 4px;
}

#tasks > div > img{
    width: 20px;
    height: 20px;
    object-fit: contain;
    cursor: pointer;
}

#tasks > div > input[type='datetime-local']{
    background-color: transparent;
    color: white;
    outline: none;
    border: none;
    font-size: 14px;
    filter:  brightness(0.75);
}

input[type="datetime-local"]::-webkit-calendar-picker-indicator {
    color: rgba(255, 255, 255, 1);
    opacity: 1;
    display: block;
    background: url('../assets/calendar.svg') no-repeat;
    width: 16px;
    height: 16px;
    border-width: thin;
    margin-left: -20px;
}

.delete-todo{
    width: 20px;
    height: 20px;
    object-fit: contain;
    cursor: pointer;
    position: absolute;
    filter: brightness(1.5);
    right: 12px;
    bottom: 8px;
    display: none;
}

#task-footer{
    border: none;
    outline: none;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
}
#task-count{
    font-size: 16px !important;
    filter: brightness(0.85) !important;
}

#add-btn > img{
    width: 24px;
    height: 24px;
    object-fit: contain;
    cursor: pointer;
    filter: brightness(1.5);
}

#add-btn{
    border: none;
    outline: none;
    background-color: transparent;
    display: flex;
    gap: 4px;
    color: white;
    align-items: center;
    justify-content: space-between;
    background-color: var(--text-color);
    padding: 4px 12px;
    border-radius: 8px;
}


.task textarea{
    background-color: transparent;
    outline: none;
    border:none;
    color: var(--text-color-secondary);
    filter: brightness(0.75);
    font-size: 14px;
    font-weight: 500;
    width: 100%;
    resize: none;
    min-height: 10px;
}

.task {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 6px;
    justify-content: center;
    width: 100%;
    padding: 12px;
    border-radius: 12px;
    background-color: var(--bg-color-tertiary);
    transition: all 0.3s ease;
}

.task textarea[data-toggled='false']{
    display: none;
}

.todo-info{
    position: relative;
}

.arrow-todo{
    width: 20px;
    height: 20px;
    object-fit: contain;
    transform: rotate(90deg);
    transition: all 0.3s ease;
    position: absolute;
    right: 2px;
    top: 2px;
    cursor: pointer;
}
.arrow-todo[data-toggled='true']{
    transform: rotate(90deg);
}
.arrow-todo[data-toggled='false']{
    transform: rotate(0deg);
}

.todo-title-input{
    background-color: transparent;
    outline: none;
    border:none;
    color: var(--text-color-secondary);
}

ul p{
    filter: brightness(1.35);
    
}

.title-input{
    background-color: transparent;
    outline: none;
    border:none;
    color: var(--text-color);

}

#save-btn{
    color: white;
    border-radius:12px;
    height: 34px;
    padding: 0px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: var(--bg-color-tertiary);
}

.save-changes{
    align-items: center;
    justify-content: space-between;
    height: 34px;
    gap: 4px;
}

.save-changes > img{
    width: 30px;
    height: 20px;
    object-fit: contain;
    filter: brightness(1.5);
    height: 100%;
    padding: 0px 4px;
}
.save-changes > img[id='cancel-changes'] {
    background-color: var(--bg-color-secondary);
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}
.save-changes >  img[id='save-changes'] {
    background-color: var(--bg-color-secondary);
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}
